# Virtual Environment
venv/
*.venv
env/
env.bak/
venv.bak/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor files
.idea/
.vscode/
